# Eclipse
**/.settings/
**/.project
**/.classpath
**/.springBeans

# Intellij
**/.idea/
**/*.iml
**/*.iws

# IDE - VSCode
**/.vscode/*
!**/.vscode/settings.json
!**/.vscode/tasks.json
!**/.vscode/launch.json
!**/.vscode/extensions.json

# OTHER IDE
**/.c9/
**/.launch
**/.sublime-workspace

# Mac
.DS_Store
Thumbs.db

# Maven
**/target/
!**/src/**/target/
!**/client/**/target/
**/bin/
!**/src/**/bin/
!**/client/**/bin/
**/log/
!**/src/**/log/
!**/client/**/log/
**/dist/
!**/src/**/dist/
!**/client/**/dist/

# JREBEL
**/rebel.xml

*.factorypath
application.pid
.recommenders/
.metadata/

# WEBVIEW
# compiled output
**/dist
**/tmp
**/out-tsc
**/node_modules
**/.sass-cache
**/connect.lock
**/coverage
**/libpeerconnection.log
**/npm-debug.log
**/yarn-error.log
**/testem.log
**/typings