<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title th:text="#{app.name}"></title>
    
	<link rel="apple-touch-icon" sizes="57x57" th:attr="href=@{/assets/favicon/apple-icon-57x57.png}">
	<link rel="apple-touch-icon" sizes="60x60" th:attr="href=@{/assets/favicon/apple-icon-60x60.png}">
	<link rel="apple-touch-icon" sizes="72x72" th:attr="href=@{/assets/favicon/apple-icon-72x72.png}">
	<link rel="apple-touch-icon" sizes="76x76" th:attr="href=@{/assets/favicon/apple-icon-76x76.png}">
	<link rel="apple-touch-icon" sizes="114x114" th:attr="href=@{/assets/favicon/apple-icon-114x114.png}">
	<link rel="apple-touch-icon" sizes="120x120" th:attr="href=@{/assets/favicon/apple-icon-120x120.png}">
	<link rel="apple-touch-icon" sizes="144x144" th:attr="href=@{/assets/favicon/apple-icon-144x144.png}">
	<link rel="apple-touch-icon" sizes="152x152" th:attr="href=@{/assets/favicon/apple-icon-152x152.png}">
	<link rel="apple-touch-icon" sizes="180x180" th:attr="href=@{/assets/favicon/apple-icon-180x180.png}">
	<link rel="icon" type="image/png" sizes="192x192"  th:attr="href=@{/assets/favicon/android-icon-192x192.png}">
	<link rel="icon" type="image/png" sizes="32x32" th:attr="href=@{/assets/favicon/favicon-32x32.png}">
	<link rel="icon" type="image/png" sizes="96x96" th:attr="href=@{/assets/favicon/favicon-96x96.png}">
	<link rel="icon" type="image/png" sizes="16x16" th:attr="href=@{/assets/favicon/favicon-16x16.png}">
	<link rel="manifest" th:attr="href=@{/assets/favicon/manifest.json}">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" th:attr="content=@{/assets/favicon/ms-icon-144x144.png}">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" th:attr="href=@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"></head>
	<link rel="stylesheet" th:attr="href=@{/webjars/font-awesome/5.12.0/css/all.min.css}"></head>
	<link rel="stylesheet" th:attr="href=@{/styles/styles.css}"></head>
	<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
</head>

<body>
</body>
	<div class="login-container">
		<div class="login-block">
			<div class="login-box-container">
				<h1 class="text-white">Ops!</h1>
				<div class="error-block">
					<p th:text="${message}"></p>
				</div>
			</div>
			<div class="login-footer">© 2020 Viettel. All rights reserved.</div>
		</div>
	</div>
	
</html>